<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 헤드 블록의 기본 콘텐츠 추가 (bootstrap css & js) -->
    <th:block layout:fragment="styles">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </th:block>
    <th:block layout:fragment="scripts">
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </th:block>
</head>
<body>
<header layout:fragment="header">
    <nav th:replace="~{fragments/navbar :: navbarFragment}">네비게이션 바</nav>
    <h3>Header 부분</h3>
</header>
<div layout:fragment="contents">
    <h3>Contents 부분</h3>
</div>
</body>
</html>
