<div th:fragment="formErrorsFragment" class="alert alert-danger"
     role="alert" th:if="${#fields.hasAnyErrors()}">
    <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
</div>

<div th:fragment="formGlobalErrorsFragment" class="alert alert-danger"
     role="alert" th:if="${#fields.hasGlobalErrors()}">
    <div th:each="err : ${#fields.hasGlobalErrors()}" th:text="${err}" />
</div>

<div th:fragment="simpleFormErrorsFragment" class="alert alert-danger"
     role="alert" th:if="${param.error}">
    아이디 또는 비밀번호가 맞지 않습니다. 다시 확인해주세요
</div>