<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base_layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<div layout:fragment="contents" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>Join the DeepTech!</h4>
        </div>
    </div>
    <form th:action="@{/users/signup}" th:object="${userCreateForm}" method="post">
        <div class="mb-3">
            <label for="userId" class="form-label">user ID</label>
            <input id="userId" type="text" th:field="*{userId}" class="form-control">
            <div th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" class="invalid-feedback d-block"></div>
        </div>
        <div class="mb-3">
            <label for="userNickname" class="form-label">nickname</label>
            <input id="userNickname" type="text" th:field="*{userNickname}" class="form-control">
            <div th:if="${#fields.hasErrors('userNickname')}" th:errors="*{userNickname}" class="invalid-feedback d-block"></div>
        </div>
        <div class="mb-3">
            <label for="userEmail" class="form-label">email</label>
            <input id="userEmail" type="email" th:field="*{userEmail}" class="form-control">
            <div th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}" class="invalid-feedback d-block"></div>
        </div>
        <div class="mb-3">
            <label for="userPw" class="form-label">password</label>
            <input id="userPw" type="password" th:field="*{userPw}" class="form-control">
            <div th:if="${#fields.hasErrors('userPw')}" th:errors="*{userPw}" class="invalid-feedback d-block"></div>
        </div>
        <div class="mb-3">
            <label for="userPw2" class="form-label">confirm password</label>
            <input id="userPw2" type="password" th:field="*{userPw2}" class="form-control">
            <div th:if="${#fields.hasErrors('userPw2')}" th:errors="*{userPw2}" class="invalid-feedback d-block"></div>
        </div>
        <!-- 전역 오류 메시지-->
        <div th:replace="~{form_errors :: formGlobalErrorsFragment}"></div>
        <button type="submit" class="btn btn-primary">REGISGTER</button>
    </form>
</div>
</body>
</html>
